h1
{
    font-size: 2.75em;
}

nav li{
    display:inline;
    list-style-type: none;
    padding-right: 40px;
    font-style:oblique;
    margin-bottom: 0px;
    margin-left: 0px;
}

nav a:link
{
    color: crimson;
    text-decoration: none;
    font-style:oblique;
}
nav a:visited
{
    color:crimson;
    font-style:oblique;
}

nav a:hover
{
    text-decoration: underline;
    font-style:oblique;
}

nav a:active
{
    color: black;
    font-style:oblique;
}
